$gray: #dddddd;

h1 {
  font-size: 3rem;
  line-height: 20px;
  @include media(">=tablet", "<desktop") {
    text-align: center;
  }
}

.resume-container {
  padding: 1em;
  width: 100%;

  dt{
    font-style: italic;
    background: #ddd;
    width: 30%;
    padding: 2px;
    box-sizing: border-box;
  }
  dl{
    display:flex;
    flex-wrap: wrap;
    border-top: none;
    text-align: left;
    padding: 5px;
  }
  dd{
    padding: 2px;
    margin: 0;
    width: 70%;
    box-sizing: border-box;
  }

  .timeline {
    position: relative;
    overflow: auto;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 3px;
      background: $gray;
      left: 0;
    }

    h2 {
      background: $gray;
      max-width: 6em;
      margin: 0 auto 1em;
      padding: 0.5em;
      text-align: center;
      position: relative;
      clear: both;
    }

    ul {
      list-style: none;
      padding: 0 0 0 1em;
      z-index: 1;
      margin-right: 1em;
    }

    li {
      background: $gray;
      padding: 0em;
      margin-bottom: 0em;
      position: relative;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 1em solid $gray;
        border-left: 1em solid transparent;
        position: absolute;
        left: -1em;
        top: 0;
      }
    }

    h3 {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 40em) {
    .container {
      max-width: 1000px;
      margin: 0 auto;
    }

    .timeline {
      &:before {
        left: 50%;
      }

      ul {
        padding-left: 0;
        max-width: 1000px;
        margin: 0 auto;
      }

      li {
        width: 47%;
      }

      li:nth-child(even) {
        float: right;
        margin-top: 1.5em;
      }

      li:nth-child(odd) {
        float: left;

        &:before {
          border-top: 1em solid $gray;
          border-right: 1em solid transparent;
          right: -1em;
          left: auto;
        }
      }

      li:nth-of-type(2n+1) {
        clear: both;
      }
    }
  }
}
